* {
    padding: none;
    margin: none;
}
.container {
    display: flex;
}
#calculator-container {
    width: 450px;
    height: 700px;
}
#calculator-container, #number-container, #function-container{
    flex-direction: column;
    align-content: center;
    gap: 10px;
}
.number-rows{ 
    display: flex;
}
.function, .numbers {
    flex: 1;
    height: 25px;
    width: 25px;
}